* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}

/* -------------------------------- CSS VARIABLES ------------------------------------ */

:root {
  /* COLORS -------------------------------------------------------------------------- */

  --primary-color: #00715e;
  --secondary-color: #e5712d;
  --medium-gray: #98a09d;

  /* OTHERS --------------------------------------------------------------------------- */
  --max-width: 1400px;
  --width: 90%;
}

/* -------------------------------- GLOBAL CLASSES ------------------------------------ */

.mainContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  width: var(--width);
  max-width: var(--max-width);
}
